# Analysis my Netflix data

## Initial investigation of dataframe

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/CONTENT_INTERACTION/ViewingActivity.csv')

In [3]:
df.columns

Index(['Profile Name', 'Start Time', 'Duration', 'Attributes', 'Title',
       'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark',
       'Country'],
      dtype='object')

In [4]:
df.dtypes

Profile Name               object
Start Time                 object
Duration                   object
Attributes                 object
Title                      object
Supplemental Video Type    object
Device Type                object
Bookmark                   object
Latest Bookmark            object
Country                    object
dtype: object

## Prepare dataframe for analysis

Remove not needed columns

In [5]:
df = df.drop(['Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)

Correct data types for analysis

In [6]:
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df['Duration']   = pd.to_timedelta(df['Duration'])

In [7]:
# Check this worked
df.dtypes

Profile Name                 object
Start Time      datetime64[ns, UTC]
Duration            timedelta64[ns]
Title                        object
dtype: object

Want to change start time to correct timezone

In [8]:
# change start time column to dataFrames index
df = df.set_index('Start Time')
# Correct timezone
df.index = df.index.tz_convert('Europe/London')
# reset the index and turn Start Time back into a column
df = df.reset_index()

In [9]:
df.head(5)

,Start Time,Profile Name,Duration,Title
0,2022-09-23 17:15:22+01:00,Jack,0 days 00:14:01,Fresh Meat: Series 1: Episode 1
1,2022-09-23 14:16:56+01:00,Jack,0 days 01:45:26,The Next Karate Kid
2,2022-09-23 07:17:08+01:00,Jack,0 days 00:24:54,Uncoupled: Season 1: Chapter 1 (Episode 1)
3,2022-09-23 06:57:04+01:00,Jack,0 days 00:19:25,Young Sheldon: Young Sheldon: Season 3: A Secr...
4,2022-09-23 06:53:42+01:00,Jack,0 days 00:03:16,Young Sheldon: Young Sheldon: Season 3: A Baby...